In [4]:
'''Write a Python function to accept a string value from the user and display the
count of each character in that string. Sample input: Enter a string value:
assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1'''

def count(n):
  letters=0
  for char in n:
    if char ("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"):
      letters += 1

x=int(input('Enter the string: '))

KeyboardInterrupt: Interrupted by user

In [37]:
'''Write a Python function to find the maximum of three numbers Sample input:
34,12,7 Sample output: 34'''

def max(x,y,z):
   if x>y:
     print(x)
   elif y>x and y>z:
     print(y)
   else:
     print(z)

In [38]:
max(100,500,600)

600

In [53]:
'''Write a Python function called exponent(base,exp) that returns an integer
value of base raises to the power of exp. Sample input: Enter the base: 2
Enter the exponent: 3 Sample output: 8'''

def exponent(base,exp):
  return base**exp
  base=int(input('Enter the base: '))
  exp=int(input('Enter the exponent: '))
  print(exponent(base,exp))

In [57]:
exponent(2,3)

8

In [61]:
'''Write a Python function that takes a positive integer and returns the sum of
the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36. '''

def sum_cube(n):
  sum=0
  for i in range(1,n):
    sum += i**3
  return sum

In [62]:
sum_cube(4)

36

In [65]:
'''Write a Python program which iterates from 1 to 10. For multiples of 2, print
“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For
numbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:
numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9
FizzBuzz'''

for i in range(1,11):
    if i%2==0 and i%5==0:
        print("FizzBuzz")
    elif i%2==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [96]:
'''Write a Python function to find the sum of squares of the numbers in a list.
Sample input: 2,1,3,1 Sample output: 15'''

def sum_square(numbers):
  sum_square=0
  for number in numbers:
    sum_square += number**2
  return sum_square

In [83]:
numbers=[2,3,4,5,6]
sum_square(numbers)

90

In [87]:
'''Write a Python program using for loop that will iterate from 1 to 15. For each
iteration, check if the current number is odd or even, and display the message
to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-
even …. 15-odd '''

for i in range(1,16):
  if i%2==0:
    print(f"{i} - even")
  else:
    print(f"{i} - odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

In [92]:
'''Write a Python function to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41
Sample output: Temperature in Celsius =5'''

def convert_temp(temp, unit):
  if unit=="C":
    return (9/5)*temp+32
  elif unit=="F":
    return (5/9)*(temp-32)
  else:
    print('Invalid unit!')

In [95]:
temp=41
unit="F"
converted_temp=convert_temp(temp,unit)
print("Temperature in Celsius:",converted_temp)

Temperature in Celsius: 5.0

In [97]:
temp=5
unit="C"
converted_temp=convert_temp(temp,unit)
print("Temperature in Fahrenheit:",converted_temp)

Temperature in Fahrenheit: 41.0

In [99]:
'''Write a Python function to calculate the factorial of a number (a nonnegative
integer). The function accepts the number as an argument. Sample input: 3
Sample output: 6'''

def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

In [101]:
factorial(3)

6

In [104]:
'''Write a Python function to find the most frequent item in a list of numbers.
Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2'''

def most_frequent(numbers):
  counts = {}
  for num in numbers:
    if num not in counts:
      counts[num] = 0
    counts[num] += 1
  most_frequent_num = None
  most_frequent_count = 0
  for num, count in counts.items():
    if count > most_frequent_count:
      most_frequent_num = num
      most_frequent_count = count
  return most_frequent_num

In [105]:
numbers = [2, 3, 4, 2, 5, 2]
most_frequent_num = most_frequent(numbers)
print(f"The most frequent number is: {most_frequent_num}")

The most frequent number is: 2